{% extends "base.html" %}
{% load static %}
{% load extra_filter %}
{% block title %}안전 Hat - 장비정보 - {% endblock %}
  <!-- Custom styles for this page -->
  <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> 
{% block content %}
<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">장비 정보</h6>
        </div>
        <!-- Nested Row within Card Body -->
        <div class="row">
            <!-- 지도 -->
            <div id="map" class="col-lg-5 d-none d-lg-block"></div>
            <!------ Include the above in your HEAD tag ---------->
            <div class="card">
                <div class="card-body">
                    <div class="row">
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <form>
                              <div class="form-group row">
                                <label for="username" class="col-4 col-form-label">착용자</label> 
                                <div class="col-8">
                                  <input id="username" name="username" placeholder="착용자" class="form-control here" required="required" type="text" value="{{hat.user_name}}">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="device_id" class="col-4 col-form-label">디바이스 ID</label> 
                                <div class="col-8">
                                  <input id="name" name="name" placeholder="디바이스 ID" class="form-control here" type="text" value="{{hat.device_id}}" disabled>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="employee_id" class="col-4 col-form-label">직원 ID</label> 
                                <div class="col-8">
                                  <input id="lastname" name="lastname" placeholder="직원 ID" class="form-control here" type="text" value="{{hat.employee_id}}">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="job_pos" class="col-4 col-form-label">직책</label> 
                                <div class="col-8">
                                  <input id="job_pos" name="job_pos" placeholder="직책" class="form-control here" required="required" type="text" value="{{hat.job_position}}">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="phone_num" class="col-4 col-form-label">휴대전화</label> 
                                <div class="col-8">
                                  <input id="phone_num" name="phone_num" placeholder="휴대전화" class="form-control here" required="required" type="text" value="{{hat.phone_number}}">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="publicinfo" class="col-4 col-form-label">공개정보</label> 
                                <div class="col-8">
                                  <textarea id="publicinfo" name="publicinfo" cols="40" rows="4" class="form-control"></textarea>
                                </div>
                              </div> 
                              
                            </form>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
      </div>
    </div>
<!-- 데이터 표로 나타내기 -->
  <!-- Begin Page Content -->
  <div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">센서 기록</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="1">
            <thead>
              <tr>
                <th>측정 시간</th>
                <th>GPS</th>
                <th>온도</th>
                <th>휘발성유기화합물</th>
                <th>습도</th>
                <th>기울기(Gyro)</th>
              </tr>
            </thead>
            <!-- tfoot
            <tfoot>
              <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
              </tr>
            </tfoot>
            -->
            <tbody>
              
              {% for SensorValue in SensorValues.all %}
              <!--|date:'m월d일 H:i'-->
              <tr>
                <td>{{SensorValue.recordtime|date:'m월d일 H:i.s'}}</td>
                <td>{{SensorValue.gps_lat}}, {{SensorValue.gps_lng}}, {{SensorValue.gps_alt}}</td>
                <td>{{SensorValue.temperature}}</td>
                <td>{{SensorValue.voc}}</td>
                <td>{{SensorValue.humid}}</td>
                <td>{{SensorValue.gyro}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
  </div>
    
{% endblock %}
{% block javascript %}
  <!-- Page level plugins -->
  <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

  <!-- Page level custom scripts -->
  <script src="{% static 'js/demo/datatables-demo.js' %}"></script>
  
  <!-- 네이버 지도 스크립트 -->
  <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=ufen3b2lar"></script>
  <script>
    var position = new naver.maps.LatLng({{hat|get_last_pos|safe}});
    var mapOptions = {
      center: position,
      zoom: 10
    };
    var map = new naver.maps.Map('map', mapOptions);
    var markerOptions = {
      position: new naver.maps.LatLng({{hat|get_last_pos|safe}}),
      map: map,
      icon: {
        url: 'http://sior.koreasouth.cloudapp.azure.com:8000/media/hat.png',
        size: new naver.maps.Size(34, 34),
        scaledSize: new naver.maps.Size(34, 34),
        origin: new naver.maps.Point(0, 0),
        anchor: new naver.maps.Point(12, 34)
      }
    };
    var marker = new naver.maps.Marker(markerOptions);
    var polyline = new naver.maps.Polyline({
      map: map,
      path: [
        {% for pos in hat|get_last_one_hour_pos %}
        new naver.maps.LatLng({{pos}}),
        {% endfor %}
        new naver.maps.LatLng(37.37544345085402, 127.11224555969238),
      ]
    });
  </script>
{% endblock %}
