{% extends "base.html" %}
{% load static %}
{% load extra_filter %}
{% block title %}안전 Hat - 위치{% endblock %}
  <!-- Custom styles for this page -->
  <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% block content %}
    <!-- DataTales Example -->
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>이름</th>
                <th>사원 번호</th>
                <th>위치(주소)</th>
                <th>위치(위도,경도)</th>
                <th>직책</th>
                <th>전화번호</th>
                <th>마지막 연결 시각</th>
              </tr>
            </thead>
            <tbody>
            {% for Hat in Hats.all %}
              <tr>
                <td>
                  <a href='device_list/{{Hat.id}}'>{{Hat.user_name}}</a>
                </td>
                <td>
                  {{Hat.employee_id}}
                </td>
                <td id="{{Hat.id}}_loc">
                </td>
                <td>
                  {{Hat|get_last_pos|safe}}
                </td>
                <td>{{Hat.job_position}}</td>
                <td>{{Hat.phone_number}}</td>
                <td>{{Hat|get_last_date|date:"r"}}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
{% endblock %}
{% block javascript %}
  <!-- Page level plugins -->
  <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

  <!-- Page level custom scripts -->
  <script src="{% static 'js/demo/datatables-demo.js' %}"></script>
{% endblock %}
