{% extends "base.html" %}
{% load static %}
{% load extra_filter %}
{% block title %}안전 Hat{% endblock %}
<meta name="viewport" content="width=device-width, initial-scale=1">
{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  
  <!-- Content Row -->
  <div class="row">
    <!-- 현재 동작중인 헬멧 수 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">작동중인 헬멧</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">1개</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-calendar fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>


<!-- 프랑켄슈타인 실험실, 지우고 싶을 때 지워라.... -->
<div class="col-xl-3 col-md-6 mb-4">
  <div class="card border-left-success shadow h-100 py-2">
    <div class="card-body">
      <div class="box">
        <article class="media">
            <div class="media-left">
                <figure class="image is-50x50">
                    <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="Image">
                </figure>
            </div>
            <div class="media-content">
                <div class="content">
                    <p>
                        <span class="title"><b>공사장 날씨</b></span>
                        <br>
                        <span class="subtitle"><b>{{ weather.temperature }}&#xB0; C</b></span>
                        <br> <b>{{ weather.description }}</b>
                    </p>
                </div>
            </div>
        </article>
      </div>
    </div>
  </div>
</div>
    
    
    <!-- 작업 진행률 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-info text-uppercase mb-1">이번 주 강조사항</div>
              <div class="row no-gutters align-items-center">
                <b>권대장님 생신!! </b>
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 작업장 위험도 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">오늘의 식단</div>
              <b>맛있는 제육볶음 </b>
            </div>
            <div class="col-auto">
              <i class="fas fa-comments fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Content Row -->
  <div class="row">
    <!-- Area Chart -->
    <div class="col-xl-8 col-lg-7">
      <div class="card shadow mb-4">
        <!-- 센서 통계 헤드 -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <a class="m-0 font-weight-bold text-primary" href="statistics">센서 통계</a>
          <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
              <div class="dropdown-header">Dropdown Header:</div>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
        <!-- 센서 그래프 바디 -->
        <!-- bg- success 초록,\ warning 주황, 없음: 파랑, ,info, 민트, danger 빨강 -->
        <div class="card-body">
          <!-- 그래프 영역 -->
          <!-- 온도 -->
          <div> 
            {% with co2=max_temperature.temperature__max|get_max_temperature %}
            {% with value=max_temperature.temperature__max %}
            <div id="test" data-val="1"></div>
            <h4 class="small font-weight-bold">온도 <span class="float-right">{{value}}도</span></h4>
              <div class="progress mb-4">
            {% if value < -15 %}
              <div class="progress-bar bg-danger" role="progressbar" style="width: {{co2}}%" aria-valuenow="20"
                aria-valuemin="0" aria-valuemax="100"></div>
            {% elif value < -12 %}
              <div class="progress-bar bg-warning" role="progressbar" style="width: {{co2}}%" aria-valuenow="20"
                aria-valuemin="0" aria-valuemax="100"></div>
            {% elif value < 33 %}
            <div class="progress-bar bg-normal" role="progressbar" style="width: {{co2}}%" aria-valuenow="20"
            aria-valuemin="0" aria-valuemax="100"></div>
            {% elif value < 35 %}
            <div class="progress-bar bg-warning" role="progressbar" style="width: {{co2}}%" aria-valuenow="20"
            aria-valuemin="0" aria-valuemax="100"></div>
            {% else %}
            <div class="progress-bar bg-danger" role="progressbar" style="width: {{co2}}%" aria-valuenow="20"
            aria-valuemin="0" aria-valuemax="100"></div>
            {% endif %}
            {% endwith %}
            {% endwith %}
          </div>
          </div>
          
          <!-- VOC -->
          <div> 
            {% with co2=max_voc.voc__max|get_max_tvoc %}
            {% with value=max_voc.voc__max %}
            
          <div id="test" data-val="1"></div>
            <h4 class="small font-weight-bold">TVOC <span class="float-right">{{value}}ppb</span></h4>
            <div class="progress mb-4">
            {% if value < 200 %}
              <div class="progress-bar bg-normal" role="progressbar" style="width: {{co2}}%" aria-valuenow="20"
                aria-valuemin="0" aria-valuemax="100"></div>
            {% elif value < 250 %}
            <div class="progress-bar bg-success" role="progressbar" style="width: {{co2}}%" aria-valuenow="20"
            aria-valuemin="0" aria-valuemax="100"></div>
            {% elif value < 500 %}
            <div class="progress-bar bg-info" role="progressbar" style="width: {{co2}}%" aria-valuenow="20"
            aria-valuemin="0" aria-valuemax="100"></div>
            {% elif value < 1000 %}
            <div class="progress-bar bg-warning" role="progressbar" style="width: {{co2}}%" aria-valuenow="20"
            aria-valuemin="0" aria-valuemax="100"></div>
            {% else %}
            <div class="progress-bar bg-danger" role="progressbar" style="width: {{co2}}%" aria-valuenow="20"
            aria-valuemin="0" aria-valuemax="100"></div>
            {% endif %}
          </div>
          {% endwith %}
          {% endwith %}
          </div>
          <!-- co2 -->
          <div> 
            {% with co2=max_co2.co2__max|get_max_co2 %} <!--여기 바꾸어야 함-->
            {% with value=max_co2.co2__max %} <!--여기 바꾸어야 함-->
          <div id="test" data-val="1"></div>
            <h4 class="small font-weight-bold">이산화탄소 <span class="float-right">{{value}}ppm</span></h4>
            <div class="progress mb-4">
            {% if value < 450 %}
              <div class="progress-bar bg-normal" role="progressbar" style="width: {{co2}}%" aria-valuenow="20"
                aria-valuemin="0" aria-valuemax="100"></div>
            {% elif value < 1000 %}
            <div class="progress-bar bg-success" role="progressbar" style="width: {{co2}}%" aria-valuenow="20"
            aria-valuemin="0" aria-valuemax="100"></div>
            {% elif value < 2000 %}
            <div class="progress-bar bg-info" role="progressbar" style="width: {{co2}}%" aria-valuenow="20"
            aria-valuemin="0" aria-valuemax="100"></div>
            {% elif value < 5000 %}
            <div class="progress-bar bg-warning" role="progressbar" style="width: {{co2}}%" aria-valuenow="20"
            aria-valuemin="0" aria-valuemax="100"></div>
            {% else %}
            <div class="progress-bar bg-danger" role="progressbar" style="width: {{co2}}%" aria-valuenow="20"
            aria-valuemin="0" aria-valuemax="100"></div>
            {% endif %}
          </div>
          {% endwith %}
          {% endwith %}
          </div>
          <!-- Air Quality -->
          <div> 
            {% with co2=max_air_quality.air_quality__max|get_max_air_quality %}
            {% with value=max_air_quality.air_quality__max %}
          <div id="test" data-val="1"></div>
            <h4 class="small font-weight-bold">Air Quality <span class="float-right">{{value}}AQHI</span></h4>
            <div class="progress mb-4">
            {% if value < 30 %}
              <div class="progress-bar bg-normal" role="progressbar" style="width: {{co2}}%" aria-valuenow="20"
                aria-valuemin="0" aria-valuemax="100"></div>
            {% elif value < 60 %}
            <div class="progress-bar bg-info" role="progressbar" style="width: {{co2}}%" aria-valuenow="20"
            aria-valuemin="0" aria-valuemax="100"></div>
            {% elif value < 70 %}
            <div class="progress-bar bg-warning" role="progressbar" style="width: {{co2}}%" aria-valuenow="20"
            aria-valuemin="0" aria-valuemax="100"></div>
            {% else %}
            <div class="progress-bar bg-danger" role="progressbar" style="width: {{co2}}%" aria-valuenow="20"
            aria-valuemin="0" aria-valuemax="100"></div>
            
            {% endif %}
          </div>
          {% endwith %}
          {% endwith %}
          </div>
      
           <!-- 습도 finished -->
           <div> 
            {% with co2=max_humid.humid__max|get_max_humid %}
            {% with value=max_humid.humid__max %}
          <div id="test" data-val="1"></div>
            <h4 class="small font-weight-bold">습도 <span class="float-right">{{co2}}g/m3</span></h4>
            <div class="progress mb-4">
            {% if value < 25 %}
              <div class="progress-bar bg-danger" role="progressbar" style="width: {{co2}}%" aria-valuenow="20"
                aria-valuemin="0" aria-valuemax="100"></div>
            {% elif value < 35 %}
            <div class="progress-bar bg-warning" role="progressbar" style="width: {{co2}}%" aria-valuenow="20"
            aria-valuemin="0" aria-valuemax="100"></div>
            {% else %}
            <div class="progress-bar success" role="progressbar" style="width: {{co2}}%" aria-valuenow="20"
            aria-valuemin="0" aria-valuemax="100"></div>
            {% endif %}
            {% endwith %}
            {% endwith %}
          </div>
        </div>
        </div>
          
          <!--  혁수가 끄적댄 코드-->
        </div>
      </div>
    

    <!-- 위치 정보 -->
    <div class="col-xl-4 col-lg-5">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <a class="m-0 font-weight-bold text-primary" href="location">위치</a>
          <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
              <div class="dropdown-header">Dropdown Header:</div>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div id="map" style="width:100%;height:193px;"></div>
          <script type="text/javascript"
            src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=ufen3b2lar"></script>
          <script>
            var position = new naver.maps.LatLng({{0|get_last_pos|safe}});
            var mapOptions = {
              center: position,
              zoom: 10
            };
            var map = new naver.maps.Map('map', mapOptions);
            <!-- 지도 마커 -->
            {% for Hat in Hats.all %}
            var markerOptions = {
              position: new naver.maps.LatLng({{Hat|get_last_pos|safe}}),
              map: map,
              icon: {
                url: 'http://sior.koreasouth.cloudapp.azure.com:8000/media/hat.png',
                size: new naver.maps.Size(34, 34),
                scaledSize: new naver.maps.Size(34, 34),
                origin: new naver.maps.Point(0, 0),
                anchor: new naver.maps.Point(12, 34)
              }
            };
            var marker = new naver.maps.Marker(markerOptions);
            {% endfor %}
          </script>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->
{% endblock %}
{% block javascript %}
  <!-- Page level plugins -->
  <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

  <!-- Page level custom scripts -->
  <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
  <script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>
{% endblock %}
