{% extends "base.html" %}
{% load static %}
{% block title %}안전 Hat - 위치{% endblock %}
  <!-- Custom styles for this page -->
  <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% block content %}
    <div class="card shadow mb-4">
      <!-- 지도 표시부 -->
      <div id="map" style="width: 100%;height: 500px;"></div>
    <!-- DataTales Example -->
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>이름</th>
                <th>위치(주소)</th>
                <th>위치(위도,경도)</th>
                <th>직책</th>
                <th>전화번호</th>
                <th>마지막 연결 시각</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>이름</th>
                <th>위치(주소)</th>
                <th>위치(위도,경도)</th>
                <th>직책</th>
                <th>전화번호</th>
                <th>마지막 연결 시각</th>
              </tr>
            </tfoot>
            <tbody>
            {% for Hat in Hats.all %}
              <tr>
                <td>{{Hat.user_name}}</td>
                <td>{{Hat.last_location_str}}</td>
                <td>{{Hat.last_location_gps}}</td>
                <td>{{Hat.job_position}}</td>
                <td>{{Hat.phone_number}}</td>
                <td>{{last_connect_date}}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    


{% endblock %}
{% block javascript %}
  <!-- Page level plugins -->
  <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

  <!-- Page level custom scripts -->
  <script src="{% static 'js/demo/datatables-demo.js' %}"></script>
  <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=ufen3b2lar"></script>
  <script>
    var position = new naver.maps.LatLng(37.29503524,126.9748767);
    var mapOptions = {
      center: position,
      zoom: 10
    };
    var map = new naver.maps.Map('map', mapOptions);
    {% for Hat in Hats.all %}
    var markerOptions = {
      position: new naver.maps.LatLng({{Hat.last_location_gps}}),
      map: map
    };
    var marker = new naver.maps.Marker(markerOptions);
    {% endfor %}
  </script>
{% endblock %}
