{% extends "base.html" %}
{% load static %}
{% load extra_filter %}
{% block title %}안전 Hat - 위치{% endblock %}
  <!-- Custom styles for this page -->
  <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% block content %}
<div class="col-xl">
    <div class="card shadow mb-4">
      <!-- 지도 표시부 -->
      <div class="card shadow mb-4">
        <div id="map" style="width: 100%;height: 500px;"></div>
        </div>
    <!-- DataTales Example -->
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>이름</th>
                <th>사원 번호</th>
                <th>위치(주소)</th>
                <th>위치(위도,경도)</th>
                <th>직책</th>
                <th>전화번호</th>
                <th>마지막 연결 시각</th>
              </tr>
            </thead>
            <tbody>
            {% for Hat in Hats.all %}
              <tr>
                <td>
                  <a href='device_list/{{Hat.id}}'>{{Hat.user_name}}</a>
                </td>
                <td>
                  {{Hat.employee_id}}
                </td>
                <td id="{{Hat.id}}_loc">
                </td>
                <td>
                  <input id="to-loc_{{Hat.id}}" class="btn btn-primary" type="button" onclick="" value="{{Hat|get_last_pos|safe}}">
                </td>
                <td>{{Hat.job_position}}</td>
                <td>{{Hat.phone_number}}</td>
                <td>{{Hat|get_last_date|date:"r"}}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    </div>
    


{% endblock %}
{% block javascript %}
  <!-- Page level plugins -->
  <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

  <!-- Page level custom scripts -->
  <script src="{% static 'js/demo/datatables-demo.js' %}"></script>
  
  <!-- 네이버 지도 스크립트 -->
  <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=ufen3b2lar"></script>
  <script>
    var position = new naver.maps.LatLng({{0|get_last_pos|safe}});
    var mapOptions = {
      center: position,
      zoom: 10
    };
    var map = new naver.maps.Map('map', mapOptions);
  </script>
  <script>
    <!-- 지도 마커 -->
    {% for Hat in Hats.all %}
    var markerOptions = {
      position: new naver.maps.LatLng({{Hat|get_last_pos|safe}}),
      map: map,
      icon: {
        url: 'http://sior.koreasouth.cloudapp.azure.com:8000/media/hat.png',
        size: new naver.maps.Size(34, 34),
        scaledSize: new naver.maps.Size(34, 34),
        origin: new naver.maps.Point(0, 0),
        anchor: new naver.maps.Point(12, 34)
      }
    };
    var marker = new naver.maps.Marker(markerOptions);
    {% endfor %}
  </script>

  <!-- Geocode 서브 모듈, 이동 스크립트 -->
  <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=ufen3b2lar&submodules=geocoder"></script>
  <script>
    {% for Hat in Hats.all %}
    naver.maps.Service.reverseGeocode({
        location: new naver.maps.LatLng({{Hat|get_last_pos|safe}}),
      }, function(status, response) {
      if (status !== naver.maps.Service.Status.OK) {
        return alert('Something wrong!');
      }

      var result = response.result, // 검색 결과의 컨테이너
          items = result.items; // 검색 결과의 배열
      // do Something
      document.getElementById("{{Hat.id}}_loc").innerHTML = items[0].address
    });
    
    // 이동 스크립트
    $("#to-loc_{{Hat.id}}").on("click", function(e) {
      e.preventDefault();
      var loc_{{Hat.id}} = new naver.maps.LatLng({{Hat|get_last_pos|safe}})
      map.setCenter(loc_{{Hat.id}});
    });
  

    {% endfor %}
  </script>
{% endblock %}
