{% extends "base.html" %}
{% load static %}
{% block title %}안전 Hat - 센서 통계{% endblock %}
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% block content %}
<h1 class="h3 mb-2 text-gray-800"> &nbsp&nbsp&nbsp최대 측정 농도</h1>
<div class="card-body">
    <!-- 그래프 영역 -->
    <!-- 온도 -->
    <div> 
      {% with co2=max_temperature.temperature__max %}
    <div id="test" data-val="1"></div>
      <h4 class="small font-weight-bold">온도 <span class="float-right">{{co2}}%</span></h4>
      <div class="progress mb-4">
      {% if co2 < 20 %}
        <div class="progress-bar bg-normal" role="progressbar" style="width: {{co2}}%" aria-valuenow="20"
          aria-valuemin="0" aria-valuemax="100"></div>
      {% elif co2 < 40 %}
      <div class="progress-bar bg-success" role="progressbar" style="width: {{co2}}%" aria-valuenow="20"
      aria-valuemin="0" aria-valuemax="100"></div>
      {% elif co2 < 60 %}
      <div class="progress-bar bg-info" role="progressbar" style="width: {{co2}}%" aria-valuenow="20"
      aria-valuemin="0" aria-valuemax="100"></div>
      {% elif co2 < 80 %}
      <div class="progress-bar bg-warning" role="progressbar" style="width: {{co2}}%" aria-valuenow="20"
      aria-valuemin="0" aria-valuemax="100"></div>
      {% else %}
      <div class="progress-bar bg-danger" role="progressbar" style="width: {{co2}}%" aria-valuenow="20"
      aria-valuemin="0" aria-valuemax="100"></div>
      {% endif %}
      {% endwith %}
    </div>
    </div>
    
    <!-- VOC -->
    <div> 
      {% with co2=max_voc.voc__max %}
  
    <div id="test" data-val="1"></div>
      <h4 class="small font-weight-bold">휘발성유기화합물 <span class="float-right">{{co2}}%</span></h4>
      <div class="progress mb-4">
      {% if co2 < 20 %}
        <div class="progress-bar bg-normal" role="progressbar" style="width: {{co2}}%" aria-valuenow="20"
          aria-valuemin="0" aria-valuemax="100"></div>
      {% elif co2 < 40 %}
      <div class="progress-bar bg-success" role="progressbar" style="width: {{co2}}%" aria-valuenow="20"
      aria-valuemin="0" aria-valuemax="100"></div>
      {% elif co2 < 60 %}
      <div class="progress-bar bg-info" role="progressbar" style="width: {{co2}}%" aria-valuenow="20"
      aria-valuemin="0" aria-valuemax="100"></div>
      {% elif co2 < 80 %}
      <div class="progress-bar bg-warning" role="progressbar" style="width: {{co2}}%" aria-valuenow="20"
      aria-valuemin="0" aria-valuemax="100"></div>
      {% else %}
      <div class="progress-bar bg-danger" role="progressbar" style="width: {{co2}}%" aria-valuenow="20"
      aria-valuemin="0" aria-valuemax="100"></div>
      {% endif %}
    </div>
    {% endwith %}
    </div>

     <!-- 습도 -->
     <div> 
      {% with co2=max_humid.humid__max %}
    <div id="test" data-val="1"></div>
      <h4 class="small font-weight-bold">습도 <span class="float-right">{{co2}}%</span></h4>
      <div class="progress mb-4">
      {% if co2 < 20 %}
        <div class="progress-bar bg-normal" role="progressbar" style="width: {{co2}}%" aria-valuenow="20"
          aria-valuemin="0" aria-valuemax="100"></div>
      {% elif co2 < 40 %}
      <div class="progress-bar bg-success" role="progressbar" style="width: {{co2}}%" aria-valuenow="20"
      aria-valuemin="0" aria-valuemax="100"></div>
      {% elif co2 < 60 %}
      <div class="progress-bar bg-info" role="progressbar" style="width: {{co2}}%" aria-valuenow="20"
      aria-valuemin="0" aria-valuemax="100"></div>
      {% elif co2 < 80 %}
      <div class="progress-bar bg-warning" role="progressbar" style="width: {{co2}}%" aria-valuenow="20"
      aria-valuemin="0" aria-valuemax="100"></div>
      {% else %}
      <div class="progress-bar bg-danger" role="progressbar" style="width: {{co2}}%" aria-valuenow="20"
      aria-valuemin="0" aria-valuemax="100"></div>
      {% endif %}
      {% endwith %}
    </div>
  </div>
  </div>

  <!-- 데이터 표로 나타내기 -->
  <!-- Begin Page Content -->
  <div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">작업자별 안전 수치</h1>
    <p class="mb-4">작업자별 안전 수치</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">마지막 센서 기록</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="1">
            <thead>
              <tr>
                <th>안전 HAT</th>
                <th>측정 시간</th>
                <th>GPS</th>
                <th>온도</th>
                <th>휘발성유기화합물</th>
                <th>습도</th>
                <th>기울기(Gyro)</th>
              </tr>
            </thead>
            <!-- tfoot
            <tfoot>
              <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
              </tr>
            </tfoot>
            -->
            <tbody>
              
              {% for SensorValue in SensorValues.all %}
              
              <tr>
                <td>{{SensorValue.owner}}</td>
                <td>{{SensorValue.recordtime}}</td>
                <td>{{SensorValue.gps}}</td>
                <td>{{SensorValue.temperature}}</td>
                <td>{{SensorValue.voc}}</td>
                <td>{{SensorValue.humid}}</td>
                <td>{{SensorValue.gyro}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
  <!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

{% endblock %}